@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import 'additional/reset';

.form-control {
  outline: none;
}
.list-group__head
{
	align-items: center;
	background-color: #FFFFFF;
	border: 1px solid rgba(0,0,0,0.125);
	display: flex;
	justify-content: space-between;
	margin-bottom: -1px;
	//padding: 0.75rem 1.25rem 0.75rem 0;
	position: relative;
}
.list-group__head .input-group
{
	padding-left: 35px;
}
.list-group__subgroup .list-group__head
{
	margin-left: 30px;
}

.btn-group__save,
.btn-group__repeat{
	display: none;
}

.btn-group__edit, .btn-group__complete, .btn-group__move, .btn-group__save, .btn-group__repeat
{
	background: none;
	border: none;
	outline: none;
    padding: 15px 10px;
    cursor: pointer;
}
button.close {
  padding: 8px 15px 15px 10px;
  font-size: 33px;
}
.btn-group__edit i::before,
.btn-group__save i::before,
.btn-group__repeat i::before{
  font-size: 23px;
}
.btn-group__complete, .btn-group__move
{
	padding: 0 10px;
}


.list-group__head:hover,
.list-group__head:hover .list-group__name
{
	background-color: #F8F9FA;
	color: #495057;
	cursor: pointer;
	text-decoration: none;
}
.list-group__head:active,
.list-group__head:active .list-group__name
{
	background-color: #E9ECEF;
	color: #212529;
}
.list-group--completed
{
	background-color: #C6C8CA;
	color: #1B1E21;
	text-decoration: line-through;
}
.list-group--completed .list-group__name,
.list-group--completed:hover .list-group__name,
.list-group--completed:hover {
	color: #1B1E21;
	background: #c6c8ca;
	text-decoration: line-through;
}
.list-group--completed .btn-group__move,
.list-group--completed .btn-group__edit,
.list-group--completed .close {
	display: none;
}
.list-group--completed .btn-group__repeat {
	display: inline-block;
}
.link-group
{
	margin-top: 20px;
}
.list-group__move
{
	display: flex;
	height: 24px;
	width: 24px;
}
.list-group__title
{
	align-items: center;
	display: flex;
	flex-direction: row;
	width: 100%;
}
.list-group__name {
  padding-left: 15px;
	width: 100%;
	border: 1px solid transparent;
	outline: none;
}
.list-group--edit .list-group__name{
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	background: #fff!important;
}
.list-group--edit .btn-group__save {
	display: inline-block;
	margin-left: 10px;
    padding-right: 15px;
}
.list-group--edit .btn-group__move,
.list-group--edit .btn-group__edit,
.list-group--edit .close{
	display: none;
}
.list-group--edit .btn-group {
	opacity: 1;
}
.list-group--edit .list-group__wraptitle {
  width: 100%;
}
.list-group--edit .btn-group__check {
  opacity: 0;
}
.list-group--completed .btn-group__repeat {
  padding-right: 16px;
}
.link-group__item
{
	margin: 0 10px 0 0;
	&:last-child
	{
		margin: 0;
	}
}
.list-group__empty
{
	padding: 7px 0;
}
.list-group--invisible {
  display: none;
}
.card
{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.content__container
{
	margin: 20px auto;
}

.userGreeter
{
	margin: 20px 0;
	text-align: center;
}


label{
  position: relative;
  cursor: pointer;
  color: #666;
  font-size: 30px;
  margin-bottom: 0;
  padding: 5px 10px 5px 15px;
}

input[type="checkbox"], input[type="radio"]{
  position: absolute;
  right: 9000px;
}

/*Check box*/
input[type="checkbox"] + .label-text:before{
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing:antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 5px;
}

input[type="checkbox"]:checked + .label-text:before{
  content: "\f058";
  color: #000;
  animation: effect 250ms ease-in;
}

input[type="checkbox"]:disabled + .label-text{
  color: #aaa;
}

input[type="checkbox"]:disabled + .label-text:before{
  content: "\f0c8";
  color: #ccc;
}


@keyframes effect{
  0%{transform: scale(0);}
  25%{transform: scale(1.3);}
  75%{transform: scale(1.4);}
  100%{transform: scale(1);}
}